body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.text-context{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.community-name-font{
    color: darkorange;
}

.navigation-name-font{
    color: black;
}