body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.text-context{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.community-name-font{
    color: darkorange;
}

.comment-name-sty{
    color: darkorchid;

}

.navigation-name-font{
    color: black;
}

.jumbotron{
    margin: 50px;
}

.comment{
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: -5px;
}

.comment-sp{
    margin-top: 0px;
}

.comment-btn{
    float: right;
    margin-bottom: 10px;
    margin-right: 5px;
}

.comment-comment-count{
    margin-bottom: 0px;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 6px;
    font-size: 17px;
    cursor: pointer;
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}

.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}

.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn{
    margin: 10px 0;
}

.content-edit{
    margin-bottom: 10px;
}

.post-title{
    margin-top: 25px;
    font-weight: bold;
}



